$body-text-color: hsl(0deg, 0%, 90%);

$accent-blue: hsl(204deg, 55%, 58%);

$button-like-background-dark: linear-gradient(0deg, hsl(0deg, 0%, 45%) 0%, hsl(0deg, 0%, 20%) 40%, hsl(0deg, 0%, 20%) 60%, hsl(0deg, 0%, 45%) 100%);
$button-like-border-dark: 1px solid hsl(0deg, 0%, 50%);
$button-like-background: linear-gradient(0deg, #f3f3f3 25%, hsl(0deg, 0%, 90%) 50%, #f3f3f3 75%);
$button-like-border: 1px solid darkgray;

$chart-button-min-width: 400px;