@use 'colors'as c;

.side-menu {
	width: 250px;
	top: 0px;
	right: -250px;
	height: 100vh;
	box-sizing: border-box;
	transform: translateX(0px);
	left: unset;
	position: absolute;
	transition: all .3s ease-in-out;

	.row {
		min-height: 50px;
		border-bottom: 1px solid hsl(0, 0%, 60%);
		padding: 20px 4px;
		box-sizing: border-box;

		i {
			margin-right: 4px;
			color: c.$accent-blue;
			width: 25px;
		}

	}


	.link {
		cursor: pointer;
	}

	h3 {
		margin: 0px;
	}

	.forecast {
		&.row {
			display: none;

			img {
				float: right;
				border-radius: 10px;
				border: hsl(0, 0%, 60%);
			}
		}

		.clearfix {
			width: 100%;
		}

		span {
			font-weight: bold;
		}
	}

	#menu-forecast {
		font-size: 0.8em;
	}

	#menu-prev-locations div,
	#menu-location-use-gps {
		padding: 8px 0px;
		margin-left: 10px;
		font-size: 0.8em;
	}

	.gps #menu-location-no-gps,
	.gps #menu-location-use-gps {
		display: none;
	}

	#menu-location-with-gps {
		display: none;
	}

	.gps #menu-location-with-gps {
		display: inline-block;
	}

	#menu-footer {
		text-align: right;
		font-size: 0.7em;
		padding: inherit;
		cursor: pointer;
	}

	&.show {
		transform: translateX(-250px);
	}

	.menu-forecast-expand {
		float: right;
		cursor: pointer;
		width: 1.75em;
		height: 1.75em;
		text-align: right;

		i {
			margin-right: 0px;
			transition: transform 0.3s ease-in-out;
			width: unset;
		}

		i.fa-chevron-up {
			display: none;
		}
	}

	#menu-forecast-text-area {
		margin-top: 5px;
		margin-left: 5px;
	}


	#menu-forecast-text-expanded {
		display: none;
	}

	.expanded {
		#menu-forecast-text {
			display: none;
		}

		#menu-forecast-text-expanded {
			display: block;
		}

		i.fa-chevron-down {
			transform: rotate(180deg);
		}
	}

}