@use 'utils'as u;

$odd-row: hsl(0, 0%, 93%);
$odd-row-dark: hsl(0, 0%, 15%);
$even-row: hsl(0, 0%, 100%);
$even-row-dark:hsl(0, 0%, 0%);

#table {
	width: 100%;
	height: calc(100vh - 50px);
	top: 50px;
	position: absolute;
	visibility: hidden;
	overflow: auto;
	opacity: 0;
	@include u.fade-on-show();
}


.data-table {
	border-collapse: collapse;

	tbody td {
		font-family: monospace;
		text-align: right;
		border-right: 1px solid #EEEEEE;

		@media (prefers-color-scheme: dark) {
			border-right: 1px solid hsl(0, 0%, 55%);
		}
	}

	td,
	th {
		padding-left: 5px;
	}

	.new-day {
		border-top: 2px solid hsl(0, 0%, 0%);

		@media (prefers-color-scheme: dark) {
			border-top: 2px solid hsl(0, 0%, 55%)
		}
	}

	td table {
		float: right;
	}

	tbody tr:nth-child(odd) {
		background: $odd-row;

		@media (prefers-color-scheme: dark) {
			background: $odd-row-dark;
		}
	}

	tbody tr:nth-child(even) {
		background: $even-row;

		@media (prefers-color-scheme: dark) {
			background: $even-row-dark;
		}
	}

	thead td {
		position: sticky;
		top: 0px;
		background: $odd-row;

		@media (prefers-color-scheme: dark) {
			background: $odd-row-dark;
		}
	}

	tfoot td {
		position: sticky;
		bottom: 0px;
		background: $odd-row;

		@media (prefers-color-scheme: dark) {
			background: $odd-row-dark;
		}
	}

	tbody tr:nth-child(odd) td:first-child {
		background: $odd-row;

		@media (prefers-color-scheme: dark) {
			background: $odd-row-dark;
		}
	}

	thead tr {
		background: $odd-row;

		border-collapse: collapse;

		@media (prefers-color-scheme: dark) {
			background: $odd-row-dark;
		}

	}

	thead td,
	tfoot td {
		font: unset;
		font-weight: bold;
		text-transform: capitalize;
		font-size: 0.75em;
	}
}